.footer__column-link {
  text-decoration: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 10px;
}
  
.footer__column-link:hover {
  transition: 0.5s;
  opacity: 70%;
}