.feynman__link {
  position: absolute;
  color: #2f80ed;
  right: 40px;
  top: calc(50%);
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
    transition: 0.5s;
    opacity: 70%;
  }